@model IEnumerable<ShreeGroup.Models.RegistrationModel>

@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
    ViewBag.Title = "Shree Group";
}

<head>
    <link href="~/Content/Custom/policy.css" rel="stylesheet" />
</head>

<section id="home">
    <div class="home-bg-img"></div>

    <!-- home content -->
    @*<div id="home-content">
            <div>
                <div id="home-heading" class="text-center">
                    <div class="logo-all">
                        <img class="logo center-logo-1" src="~/Assets/Images/new logo.png" alt="Logo" />
                        <img class="logo-2 center-logo-2" src="~/Assets/Images/utsav.png" alt="Logo" />
                    </div>
                    <img class="garba-girl" src="~/Assets/Images/garba-girl.png" alt="Logo" />
                    <img class="garba-boy" src="~/Assets/Images/garba-boy.png" alt="Logo" />

                </div>
            </div>

        </div>*@

    <div id="home-content">
        <div>
            <div id="home-heading" class="text-center">
                <div style="display: flex; justify-content: center;">
                    <img class="Side-logo" style="width:130px;" src="~/Assets/Images/TopCenter.png" alt="Logo" />
                    <img class="Shree-Top-Logo" style="width:200px;" src="~/Assets/Images/footer-logo.png" alt="Logo" />
                    <img class="Side-logo" style="width: 130px" src="~/Assets/Images/TopCenter.png" alt="Logo" />
                </div>

            </div>
        </div>

    </div>

</section>
<section>
    <div class="container">
        <h1>Privacy Policy</h1>
        <br />
        <br />
        <p>Last updated: 2022-09-05</p>
        <br />
        <p><strong>Introduction</strong></p>
        <p>Welcome to <strong>Yashotsav( Shree Group Umreth)</strong></p>
        <p><strong>Shree Group</strong> (&ldquo;us&rdquo;, &ldquo;we&rdquo;, or &ldquo;our&rdquo;) operates <strong><a href="http://www.shreegroupumreth.com/"></a><a href="http://www.shreegroupumreth.com/">http://www.shreegroupumreth.com/</a></strong> (hereinafter referred to as <strong>&ldquo;Service&rdquo;</strong>).</p>
        <p>Our Privacy Policy governs your visit to &nbsp;<strong><a href="http://www.shreegroupumreth.com/"></a><a href="http://www.shreegroupumreth.com/">http://www.shreegroupumreth.com/</a></strong> and explains how we collect, safeguard and disclose information that results from your use of our Service..</p>
        <p>We use your data to provide and improve Service. By using Service, you agree to the collection and use of information by this policy. Unless otherwise defined in this Privacy Policy, the terms used in this Privacy Policy have the same meanings as in our Terms and Conditions.</p>
        <p>Our Terms and Conditions (<strong>&ldquo;Terms&rdquo;</strong>) govern all use of our Service and together with the Privacy Policy constitute your agreement with us (<strong>&ldquo;agreement&quot;</strong>).</p>
        <p><strong>What information do we collect</strong></p>
        <ol>
            <li>Email address</li>
            <li>First name , middle name and last name</li>
            <li>Phone number</li>
            <li>Aadhar Card</li>
            <li>Blood Group</li>
            <li>Address, City, District, State, ZIP/Postal code</li>
            <li>Photo Id proof and profile photo</li>
            <li>Cookies and Usage Data</li>
        </ol>
        <p><strong>What we do with the information we gather</strong></p>
        <p>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:</p>
        <ol>
            <li>Security reasons.</li>
            <li>Internal record keeping.</li>
            <li>We may use the information to improve our products and services.</li>
            <li>We may periodically send promotional emails about new services, news and other information which we think you may find interesting using the email address which you have provided.</li>
            <li>From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customize the website according to your interests.</li>
        </ol>
        <p><strong>How we use cookies</strong></p>
        <p>A cookie is a small file which asks permission to be placed on your computer&rsquo;s hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.</p>
        <p>We use traffic log cookies to identify which pages are being used. This helps us analyse data about webpage traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system.</p>
        <p>Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.</p>
        <p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.</p>
        <p><strong>Transfer of Data</strong></p>
        <p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.</p>
        <p>You may request details of personal information which we hold about you under the Data Protection Act 1998. A small fee will be payable. If you would like a copy of the information held on you please write to <strong><a href="mailto:help.shreegroupumreth@gmail.com">help.shreegroupumreth@gmail.com</a></strong></p>
        <p>If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible, at the above address. We will promptly correct any information found to be incorrect.</p>
        <p>&quot;We as a merchant shall be under no liability whatsoever in respect of any loss or damage arising directly or indirectly out of the decline of authorization for any Transaction, on Account of the Cardholder having exceeded the&nbsp;preset&nbsp;limit mutually agreed by us with our acquiring bank from time to time.&quot;</p>
        <p><strong>Changes to This Privacy Policy</strong></p>
        <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
        <p>We will let you know via email and/or a prominent notice on our Service before the change becomes effective and update the &ldquo;effective date&rdquo; at the top of this Privacy Policy.</p>
        <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
        <p><strong>Contact Us</strong></p>
        <p>If you have any questions about this Privacy Policy, please contact us by email: <strong><a href="mailto:help.shreegroupumreth@gmail.com">help.shreegroupumreth@gmail.com</a></strong>.</p>
        <p><strong>By submitting your details on any page of the <a href="http://shreegroupumreth.com">shreegroupumreth.com</a> website, the user permits the use of the same information for further marketing use for the foundation work which includes, marketing, foundation updates, announcements, ticket passes links, etc.</strong></p>
        <p><strong>We are selling the Yashotsav Garba Event 2022 tickets with the sole purpose to empower and encourage the livelihood development of women, artisans, and craftsmen.</strong></p>
        <br />
        <br />

        <div>
            <input type="button" value="Back To Home" class="secondary-button-reg" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
        </div>
    </div>
    <footer class="bg-primary text-center text-lg-start text-white footer-color" id="Footer" style="margin-top:50px;">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row my-4">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <img class="text-uppercase footer-logo" src="~/Assets/Images/footer-logo.png" alt="Logo" loading="lazy" />
                </div>
                <!--Grid column-->
                <!--Grid Contact Info column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4 font-weight-bolder" style="color: #E28D28">Contact Info</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p style="color:white !important"><i class="fa fa-map-marker" style="color: #E28D28"></i> SNDT Ground , Umreth , Dist. Anand , Gujarat 388220</p>
                        </li>
                        <li>
                            <p style="color:white !important"><i class="fa fa-phone pe-2" style="color: #E28D28"></i> +91 8490809770</p>
                        </li>
                        <li>
                            <p style="color:white !important"><i class="fa fa-envelope pe-2 mb-0" style="color: #E28D28"></i> help.shreegroupumreth@gmail.com</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4 font-weight-bolder" style="color: #E28D28">Quick Links</h5>

                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a href="@Url.Action("PrivacyPolicy", "Home")" class="text-white">Privacy Policy</a>
                        </li>
                        <li class="mb-2">
                            <a href="@Url.Action("TermsAndConditions", "Home")" class="text-white">Terms & Conditions</a>
                        </li>
                        <li class="mb-2">
                            <a href="@Url.Action("RefundAndReturn", "Home")" class="text-white">Refund & Return</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4 font-weight-bolder" style="color: #E28D28">Follow Us</h5>

                    <ul class="list-unstyled d-flex flex-row justify-content-center">
                        <li>
                            <a style="border:2px solid white" class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/people/Shree-Parivaar/100019660440526/" target="_blank" role="button">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a style="border:2px solid white" class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/" role="button">
                                <i class="fa fa-google"></i>
                            </a>
                        </li>
                        <li>
                            <a style="border:2px solid white" class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/shree_group22/" target="_blank" role="button">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <div>Developed by : <br />Prince IT Solutions <br />(+91 9033769091)</div>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2023 Copyright:
            <a class="text-white" href="http://shreegroupumreth.com/">ShreeGroup.com</a>
        </div>
        <!-- Copyright -->
    </footer>

</section>




