@model IEnumerable<ShreeGroup.Models.RegistrationModel>

@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
    ViewBag.Title = "Shree Group";
}

<head>
    <link href="~/Content/Custom/policy.css" rel="stylesheet" />
</head>

<section id="home">
    <div class="home-bg-img"></div>

    <!-- home content -->
    @*<div id="home-content">
            <div>
                <div id="home-heading" class="text-center">
                    <div class="logo-all">
                        <img class="logo center-logo-1" src="~/Assets/Images/new logo.png" alt="Logo" />
                        <img class="logo-2 center-logo-2" src="~/Assets/Images/utsav.png" alt="Logo" />
                    </div>
                    <img class="garba-girl" src="~/Assets/Images/garba-girl.png" alt="Logo" />
                    <img class="garba-boy" src="~/Assets/Images/garba-boy.png" alt="Logo" />

                </div>
            </div>

        </div>*@

    <div id="home-content">
        <div>
            <div id="home-heading" class="text-center">
                <div style="display: flex; justify-content: center;">
                    <img class="Side-logo" style="width:130px;" src="~/Assets/Images/TopCenter.png" alt="Logo" />
                    <img class="Shree-Top-Logo" style="width:200px;" src="~/Assets/Images/footer-logo.png" alt="Logo" />
                    <img class="Side-logo" style="width: 130px" src="~/Assets/Images/TopCenter.png" alt="Logo" />
                </div>

            </div>
        </div>

    </div>

</section>
<section>
    <div class="container">
        <h1>Terms & Conditions </h1>
        <br />
        <br />
        <p>Last updated: 2022-09-05&nbsp;</p>
        <br />
        <p>1. <strong>Introduction</strong></p>
        <p>Welcome to <strong>Shree Group</strong> (&ldquo;us&rdquo;, &ldquo;we&rdquo;, or &ldquo;our&rdquo;)!</p>
        <p>These Terms of Service (&ldquo;Terms&rdquo;, &ldquo;Terms of Service&rdquo;) govern your use of our website located at <strong><a href="http://www.shreegroupumreth.com/"></a><a href="http://www.shreegroupumreth.com/">http://www.shreegroupumreth.com/</a></strong> (together or individually &ldquo;Service&rdquo;) operated by Shree Group Umreth</p>
        <p>Our Privacy Policy also governs your use of our Service and explains how we collect, safeguard and disclose information that results from your use of our web pages.</p>
        <p>Your agreement with us includes these Terms and our Privacy Policy (&ldquo;Agreements&rdquo;). You acknowledge that you have read and understood Agreements, and agree to be bound by them.</p>
        <p>If you do not agree with (or cannot comply with) Agreements, then you may not use the Service, but please let us know by emailing <strong><a href="mailto:help.shreegroupumreth@gmail.com">help.shreegroupumreth@gmail.com</a></strong> so we can try to find a solution. These Terms apply to all visitors, users, and others who wish to access or use Service.</p>
        <p>2. <strong>Communications</strong></p>
        <p>By using our Service, you agree to subscribe to newsletters, marketing or promotional materials, and other information we may send. However, you may opt-out of receiving any, or all, of these communications from us by following the unsubscribe link or by emailing at <strong><a href="mailto:help.shreegroupumreth@gmail.com">help.shreegroupumreth@gmail.com</a></strong>.</p>
        <p>3. <strong>Registration</strong></p>
        <p>If you wish to register, you may be asked to supply certain information relevant to your registration including but not limited to, your credit or debit card number, the expiration date of your card, your billing address, and your shipping information.</p>
        <p>You represent and warrant that: (I) you have the legal right to use any card(s) or another payment method (s) in connection with any Purchase; and that (ii) the information you supply to us is true, correct, and complete.</p>
        <p>We may employ the use of third-party services to facilitate payment and the completion of Registration. By submitting your information, you grant us the right to provide the information to these third parties subject to our Privacy Policy.</p>
        <p>We reserve the right to refuse or cancel your order at any time for reasons including but not limited to product or service availability, errors in the description or price of the product or service, error in your order, or other reasons.</p>
        <p>We reserve the right to refuse or cancel your order if fraud or an unauthorized or illegal transaction is suspected.</p>
        <p>4. <strong>Fee Changes</strong></p>
        <p>Shree Group, in its sole discretion and at any time, may modify the pass fess. Any fee change will become effective post the change.</p>
        <p>5.<strong>Copyright Policy</strong></p>
        <p>We respect the intellectual property rights of others. It is our policy to respond to any claim that Content posted on Service infringes on the copyright or other intellectual property rights (&ldquo;Infringement&rdquo;) of any person or entity.</p>
        <p>If you are a copyright owner or authorized on behalf of one, and you believe that the copyrighted work has been copied in a way that constitutes copyright infringement, please submit your claim via email to <a href="mailto:help.shreegroupumreth@gmail.com">help.shreegroupumreth@gmail.com</a>, with the subject line: &ldquo;Copyright Infringement&rdquo; and include in your claim a detailed description.</p>
        <p>You may be held accountable for damages (including costs and attorneys&rsquo; fees) for misrepresentation or bad-faith claims on the infringement of any Content found on and/or through Service on your copyright.</p>
        <p>6. <strong>Error Reporting and Feedback</strong></p>
        <p>You may provide us either directly at <a href="mailto:help.shreegroupumreth@gmail.com">help.shreegroupumreth@gmail.com</a> or via third-party sites and tools with information and feedback concerning errors, suggestions for improvements, ideas, problems, complaints, and other matters related to our Service (&ldquo;Feedback&rdquo;). You acknowledge and agree that: (I) you shall not retain, acquire or assert any intellectual property right or another right title, or interest in or to the Feedback; (ii) Company may have developed ideas similar to the Feedback; (iii) Feedback does not contain confidential information or proprietary information from you or any third party; a and) The company is not under any obligation of confidentiality concerning the Feedback. In the event the transfer of the ownership to the Feedback is not possible due to applicable mandatory laws, you grant Company and its affiliates an exclusive, transferable, irrevocable, free-of-charge, sub-licensable, unlimited, and perpetual right to use (including copy, modify, create derivative works, publish, distribute and commercialize) Feedback in any manner and for any purpose.</p>
        <p>7. <strong>Links to Other Web Sites</strong></p>
        <p>Our Service may contain links to third-party websites or services that are not owned or controlled by Shree Group.</p>
        <p>Shree Group has no control over and assumes no responsibility for the content, privacy policies, or practices of any third-party websites or services. We do not warrant the offerings of any of these entities/individuals or their websites.</p>
        <p>You acknowledge and agree that the company shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods, or services available on or through any such third party web sites or services.</p>
        <p>We strongly advise you to read the terms of service and privacy policies of any third-party websites or services that you visit.</p>
        <p>8. <strong>Limitation of Liability</strong></p>
        <p>Except as prohibited by law, you will hold us and our officers, directors, employees, and agents harmless for any indirect, punitive, special, incidental, or consequential damage, however, it arises (including attorneys&rsquo; fees and all related costs and expenses of litigation and arbitration, or at trial or on appeal, if any, whether or not litigation or arbitration is instituted), whether in an action of contract, negligence, or other tortious action, or arising out of or in connection with this agreement, including without limitation any claim for personal injury or property damage, arising from this agreement and any violation by you of any federal, state, or local laws, statutes, rules, or regulations, even if company has been previously advised of the possibility of such damage. Except as prohibited by law, if there is liability found on the part of the company, it will be limited to the amount paid for the products and/or services, and under no circumstances will there be consequential or punitive damages. Some states do not allow the exclusion or limitation of punitive, incidental, or consequential damages, so the prior limitation or exclusion may not apply to you.</p>
        <p>9. <strong>Termination</strong></p>
        <p>We may terminate or suspend your registration and bar access to Service immediately, without prior notice or liability, under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a breach of Terms.</p>
        <p>If you wish to terminate your registration, you may simply discontinue using Service.</p>
        <p>All provisions of Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>
        <p>10. <strong>Governing Law</strong></p>
        <p>These Terms shall be governed and construed by the laws of India, which governing law applies to an agreement without regard to its conflict of law provisions.</p>
        <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service and supersede and replace any prior agreements we might have had between us regarding Service.</p>
        <p>11. <strong>Waiver and Severability</strong></p>
        <p>No waiver by Company of any term or condition outlined in Terms shall be deemed a further or continuing waiver of such term or condition or a waiver of any other term or condition, and any failure of Company to assert a right or provision under Terms shall not constitute a waiver of such right or provision. If any provision of Terms is held by a court or other tribunal of competent jurisdiction to be invalid, illegal, or unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent such that the remaining provisions of Terms will continue in full force and effect.</p>
        <p>12. <strong>Ticket collection</strong></p>
        <p>Through the Website, the Shree Group shall provide the ticket/pass purchaser (&quot;User&quot; or &quot;You&quot;) event-related information, pricing, availability, and reservations for a Yashotsav Garba Event 2023 season pass.</p>
        <p>13. <strong>Acknowledgement</strong></p>
        <p>BY USING SERVICE OR OTHER SERVICES PROVIDED BY THE US, YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS OF SERVICE AND AGREE TO BE BOUND BY THEM.</p>
        <p>14. <strong>Contact Us</strong></p>
        <p>Please send your feedback, comments, and requests for technical support by email: <a href="mailto:help.shreegroupumreth@gmail.com">help.shreegroupumreth@gmail.com</a> Last updated: 2022-07-28</p>
        <p>All ticket passes transactions will be final and non-refundable in any case from our side. In case of any query or request, please feel free to contact us.</p>
        <br />
        <br />

        <div>
            <input type="button" value="Back To Home" class="secondary-button-reg" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
        </div>
    </div>
    <footer class="bg-primary text-center text-lg-start text-white footer-color" id="Footer" style="margin-top:50px;">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row my-4">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <img class="text-uppercase footer-logo" src="~/Assets/Images/footer-logo.png" alt="Logo" loading="lazy" />
                </div>
                <!--Grid column-->
                <!--Grid Contact Info column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4 font-weight-bolder" style="color: #E28D28">Contact Info</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p style="color:white !important"><i class="fa fa-map-marker" style="color: #E28D28"></i> SNDT Ground , Umreth , Dist. Anand , Gujarat 388220</p>
                        </li>
                        <li>
                            <p style="color:white !important"><i class="fa fa-phone pe-2" style="color: #E28D28"></i> +91 8490809770</p>
                        </li>
                        <li>
                            <p style="color:white !important"><i class="fa fa-envelope pe-2 mb-0" style="color: #E28D28"></i> help.shreegroupumreth@gmail.com</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4 font-weight-bolder" style="color: #E28D28">Quick Links</h5>

                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a href="@Url.Action("PrivacyPolicy", "Home")" class="text-white">Privacy Policy</a>
                        </li>
                        <li class="mb-2">
                            <a href="@Url.Action("TermsAndConditions", "Home")" class="text-white">Terms & Conditions</a>
                        </li>
                        <li class="mb-2">
                            <a href="@Url.Action("RefundAndReturn", "Home")" class="text-white">Refund & Return</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4 font-weight-bolder" style="color: #E28D28">Follow Us</h5>

                    <ul class="list-unstyled d-flex flex-row justify-content-center">
                        <li>
                            <a style="border:2px solid white" class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/people/Shree-Parivaar/100019660440526/" target="_blank" role="button">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a style="border:2px solid white" class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/" role="button">
                                <i class="fa fa-google"></i>
                            </a>
                        </li>
                        <li>
                            <a style="border:2px solid white" class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/shree_group22/" target="_blank" role="button">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <div>Developed by : <br />Prince IT Solutions <br />(+91 9033769091)</div>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2023 Copyright:
            <a class="text-white" href="http://shreegroupumreth.com/">ShreeGroup.com</a>
        </div>
        <!-- Copyright -->
    </footer>

</section>




